@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container mt-5">
    <h2>Manage Your Account</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            <h4>@ViewData["Title"]</h4>
            <partial name="_StatusMessage" model="Model.StatusMessage" />
            <form asp-action="ChangePassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-floating mb-3">
                    <input asp-for="OldPassword" class="form-control" placeholder="Current Password" />
                    <label asp-for="OldPassword"></label>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                    <label asp-for="NewPassword"></label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm New Password" />
                    <label asp-for="ConfirmPassword"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Update password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 