@{
    ViewData["Title"] = "Home";
    var featuredTrucks = ViewBag.FeaturedTrucks as List<BigHauling.Domain.Entities.Truck> ?? new List<BigHauling.Domain.Entities.Truck>();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
